.feedback {
  margin-bottom: 100px;
}

.feedback__wrapper {
  position: relative;
  @include list;
  height: 649px;
  max-width: 1320px;
}

.feedback__iframe {
  width: 462px;
  height: 652px;
  z-index: 2;
}

.feedback__content {
  position: relative;
  width: 858px;
  height: 649px;
  padding: 62px 0 74px 100px;
}

.feedback__content::after {
  position: absolute;
  content: "";
  width: 952px;
  height: 652px;
  background-image: url("../../img/feedback.bg__img.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
  z-index: -1;
}

.feedback__registration {
  max-width: 375px;
  z-index: 4;
}

.feedback__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 62px;
  color: #ffffff;
  margin-bottom: 14px;
}

.feedback__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin-bottom: 29px;
}

.feedback__input-name {
  width: 375px;
  height: 50px;
  margin-bottom: 14px;
  padding-left: 22px;
}

.feedback__input-email {
  width: 375px;
  height: 50px;
  margin-bottom: 14px;
  padding-left: 22px;
}

.feedback__input-text {
  width: 375px;
  height: 165px;
  padding: 17px 103px 86px 22px;
}

.feedback__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  border: none;
  background-color: #ffbd54;
  padding: 15px 50px;
  margin-top: 30px;
}

@media only screen and (max-width: 885px) {
  .feedback__wrapper {
    position: relative;
    height: 649px;
    max-width: 1320px;
    margin: 0 auto;
  }

  .feedback__content::after {
    position: absolute;
    content: "";
    width: 952px;
    height: 652px;
    background-image: url("../../img/feedback.bg__img.png");
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .feedback__iframe {
    display: none;
  }

  .feedback__content {
    max-width: 732px;
    margin: 0 auto;
    height: 649px;
    padding: 62px 0 74px 100px;
  }
}

@media only screen and (mac-width: 735px) {
  .feedback__wrapper {
    position: relative;
    @include list;
    width: 600px;
    height: 735px;
    flex-direction: column-reverse;
  }

  .feedback__content {
    width: 600px;
    height: 649px;
    padding: 30px 0 30px 20px;
  }

  .feedback__content::after {
    position: absolute;
    content: "";
    width: 952px;
    height: 652px;
    background-image: url("../../img/feedback.bg__img.png");
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .feedback__registration {
    max-width: unset;
    margin-right: unset;
  }
}

@media only screen and (max-width: 597px) {
  .feedback__content {
    width: 600px;
    height: 649px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
  }

  .feedback__content::after {
    position: absolute;
    content: "";
    width: 952px;
    height: 652px;
    background-image: url("../../img/feedback.bg__img.png");
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

@media only screen and (max-width: 441px) {
  .feedback__input-name {
    width: 300px;
    height: 50px;
    margin-bottom: 14px;
    padding-left: 22px;
  }

  .feedback__content::after {
    position: absolute;
    content: "";
    width: 952px;
    height: 652px;
    background-image: url("../../img/feedback.bg__img.png");
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .feedback__input-email {
    width: 300px;
    height: 50px;
    margin-bottom: 14px;
    padding-left: 22px;
  }

  .feedback__input-text {
    width: 300px;
    height: 165px;
    padding: 17px 103px 86px 22px;
  }
}
