.hero {
  position: relative;
}

.hero::before {
  position: absolute;
  content: "";
  width: 650px;
  height: 755px;
  background-image: url("../../img/hero______bg.part.left.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: calc(50% - 80px);
  top: -100px;
}

.hero::after {
  position: absolute;
  content: "";
  width: 208px;
  height: 430px;
  background-image: url("../../img/hero-bird.png");
  background-repeat: no-repeat;
  background-size: cover;
  right: 0;
  bottom: -264px;
  z-index: -1;
}

.hero__wrapper {
  max-width: 1320px;
  @include list;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.hero__content {
  max-width: 608px;
  margin-right: 20px;
  margin-top: 153px;
}

.hero__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  color: #333333;
  margin: 0;
  margin-bottom: 29px;
}

.hero__span {
  color: #78c0de;
}

.hero__text-wrap {
  max-width: 522px;
  z-index: 2;
}

.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
  margin-bottom: 38px;
  z-index: 2;
}

.hero__link {
  @include link;
  padding: 16px 48px;
}

.hero__img-wrapper {
  width: 601px;
  height: 524px;
  display: flex;
  z-index: 3;
}

.hero__img {
  width: 601px;
  height: 524px;
}

.hero__bird::after {
  position: absolute;
  content: "";
  width: 300px;
  height: 300px;
  background-image: url("../../img/hero____part.right.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(354deg);
  right: 15px;
  bottom: -277px;
  z-index: -2;
}

@media only screen and (max-width: 1219px) {
  .hero::before {
    position: absolute;
    content: "";
    width: 599px;
    height: 647px;
    background-image: url("../../img/hero______bg.part.left.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: calc(50% - 80px);
    top: -76px;
  }

  .hero__content {
    max-width: 608px;
    margin-right: 20px;
    margin-top: 100px;
  }

  .hero__title {
    font-weight: 700;
    font-size: 55px;
    line-height: 49px;
    color: #333333;
    margin: 0;
    margin-bottom: 29px;
  }

  .hero__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #949494;
    margin-bottom: 38px;
    z-index: 2;
  }

  .hero__img-wrapper {
    width: 602px;
    height: 414px;
    z-index: 3;
  }

  .hero__img {
    width: 518px;
    height: 474px;
  }
}

@media only screen and (max-width: 1145px) {
  .hero::after {
    display: none;
  }

  .hero__bird::after {
    display: none;
  }

  .hero__content {
    max-width: 480px;
    margin-right: 20px;
    margin-top: 100px;
  }
}

@media only screen and (max-width: 830px) {
  .hero__wrapper {
    @include list;
    flex-direction: row-reverse;
  }

  .hero::before {
    position: absolute;
    content: "";
    width: 550px;
    height: 655px;
    background-image: url("../../img/hero______bg.part.left.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: calc(50% - 80px);
    top: -100px;
    z-index: -3;
  }

  .hero__img-wrapper {
    width: 350px;
    height: 320px;
    display: flex;
    z-index: 3;
  }

  .hero__img {
    width: 350px;
    height: 320px;
  }

  .hero__content {
    max-width: 608px;
    margin-right: 20px;
    margin-top: 100px;
  }

  .hero__title {
    font-weight: 700;
    font-size: 39px;
    line-height: 31px;
    color: #333333;
    margin: 0;
    margin-bottom: 29px;
  }

  .hero__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #949494;
    margin-bottom: 38px;
    z-index: 2;
  }
}

@media only screen and (max-width: 709px) {
  .hero__wrapper {
    @include list;
    flex-direction: column;
  }

  .hero__img-wrapper {
    width: 501px;
    height: 424px;
    display: flex;
    z-index: 3;
  }

  .hero__img {
    width: 501px;
    height: 424px;
  }
}

@media only screen and (max-width: 554px) {
  .hero__content {
    max-width: 554px;
    margin-right: 0;
    margin-top: 153px;
  }

  .hero__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 30px;
    color: #333333;
    margin: 0;
    margin-bottom: 29px;
  }

  .hero__img-wrapper {
    width: 301px;
    height: 324px;
    display: flex;
    z-index: 3;
  }

  .hero__img {
    width: 301px;
    height: 324px;
  }

  .hero::before {
    position: absolute;
    content: "";
    width: 350px;
    height: 455px;
    background-image: url("../../img/hero______bg.part.left.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: calc(50% - 80px);
    top: 24px;
  }
}
